html,
body,
#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#app {
    background-color: #f5f5f5;
}

.content {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.version {
    font-size: 14px;
    padding: 10px 0;
    color: #999;
    text-align: right;
}

:root {
    --radius: 40px;
}

#app {
    height: calc(100% - 30px);
}

.circle {
    position: relative;
    display: inline-block;

    width: fit-content;
    aspect-ratio: 1;

    color: #8a64eb;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);

    transform: translate(-50%, -50%);
    padding: 5px;
    box-sizing: border-box;
}

.circle-content {
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 50%;
    background-color: currentColor;

    min-width: 16px;
    aspect-ratio: 1;
    padding: 5px;
}

.circle-text {
    font-size: 0.9em;

    color: #fff;
}

.pin {
    transform: translate(-50%, -100%);
}

.toolbar {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;

    padding: 16px;
}

.toolbar a {
    padding: 16px;
}
